#nav {
    height: 65px;
}
#nav_ul{
    position: absolute;
    right: 40px;
}
.nav-item{
    float: right;
}
.err{
    font-size : 10pt;
    color:red;
    font-weight: bolder;
}
.coupons {
    float: left;
    margin-top: 20px;
}
.coupons_tabs {
    border: 1px solid rgb(217,217,217);
    border-bottom: 2px solid rgb(61,130,247);
}