/*A B C D E F G H I J K L N M O P Q R S T U V W X Y Z*/
dl, dt, dd, ul, ol, menu, li,th {list-style: none; margin: 0px; padding: 0px; font-weight: normal;}
section{ padding: 50px; }
#answer{
    height: 120px;
    margin-bottom: 30px;
}
#button-style{
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
#cartlist_body{
    background: -webkit-linear-gradient(to bottom, #F8ECE0, #F5D0A9);
    background: linear-gradient(to bottom, #F8ECE0, #F5D0A9);
    min-height: 100vh;
}
#checker_div{
    width: 100%;
    height: 360px;
    background-image: url("./../images/00.png");
}
#cmpSrv{
    margin-bottom: 30px;
}
#footer{
    padding: 0px;
}
#footercol2{
    padding: 35px 0px 0px 125px;
    font-size: 16px;
}
#footercol3{
    padding: 30px 0px 0px 70px;
    font-size: 15px;
}
#footercol4{
    padding-top: 30px;
    font-size: 15px;
}
#footerlogo {
    width: 100%;
}
#footermenu{
    width:100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height:50px;
    padding: 0px;
    margin: 20px 0px 0px;
    font-size: 13px ;
}
#footermenu a{
    text-decoration: none;
    color : black;
}
#footermenu a:hover{
    color: red;
}
#footermenu li{
    list-style: none;
}
#f_right_menu{
    float: right;
    padding: 10px 30px 0px 0px;
}
#f_right_menu li{
    float: left;
    padding: 1px 15px ;
}
#f_left_menu{
    float: left;
    padding-top: 12px;
    font: 16px sans-serif, 돋움;
}
#go-survey {
    margin-top: 30px;
}
#nav {
    height: 65px;
}
#nav_ul{
    position: absolute;
    right: 35px;
}
#question-content{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
}
#question-no {
    font-weight: bold;
    font-size: 16px;
    color: rgb(158, 158, 158);
}
#radio_ul{
    height: 120px;
}
#survey-button{
    margin-bottom: 100px;
}
#survey-question-content{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 35px;
}
.answer1{
    width: 100%;
    height: 38px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 15px;
    color: rgb(94, 94, 94);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.card {
    margin-bottom: 20px;
}
.card-subject{
    height: 50px;
}
.card-icon{
    float: left;
}
.card-icons{
    height: 40px;
}
.card-icon{
    width: 34px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid #5a6268;
    overflow: hidden;
    margin-left: 5px;
    float: left;
}
.card-icon:first-child{
    margin-left: 0px;
}
.card-icon-img{
    width: 30px;
    height: 30px;
    background-color: white;
}
.carousel-inner img {
    width: 100%;
    height: 550px;
}
.coupons {
    float: left;
    margin-top: 20px;
}
.coupons_tabs {
    border: 1px solid rgb(217,217,217);
    border-bottom: 2px solid rgb(61,130,247);
}
.red {
    text: red;
}
.err{
    font-size : 10pt;
    color:red;
    font-weight: bolder;
}
.footercol{
    width: 25%;
    font-size: 14px;
    border-right: 1px solid gray;
}
.footercol span{
    display: block;
    margin-bottom: 5px;
}
.footercol4_subject{
    padding-left: 40px;
    font-size: 25px;
    float: left;
}
.footercol:last-child{
    border-right: 0px;
}
.footer_con{
    padding-left: 185px;
}
.footer_tel{
    padding-left: 216px;
}
.f_menu_link{
    padding: 5px 10px;
}
.gosurvey {
     margin-top: 40px;
}
.hidden_obj{
    display: none;
}
.icon {
    width: 25px;
    height: 25px;
    margin-right: 0%;
}
.image-checker{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #5a6268;
    overflow: hidden;
}
.image-checker-ul{
    width: 100%;
    height: 160px;
}
.image-checkered{
    width: 161px;
    height: 161px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 22px;
}
.image-checkered:first-child{
    margin-left: 0px;
}
.nav-item{
    float: right;
    color: #FFFFFF;
}
.product-button{
    background-color: #9fcdff;
    padding: 5px 13px;
    font-size: 15px;
}
.progress{
    height: 12px;
}
.point{
    margin-top: 50px;
}
.radio_div{
    float: left;
    text-align: center;
    padding-left: 13%;
}
.radio_div:first-child{
    padding-left: 4%;
}
.radio_gender{
    float: left;
    text-align: center;
    padding: 20px 0px 0px 30%;
}
.top4 {
    padding: 50px 200px;
}